<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group row">
                    <label class="control-label col-md-4" for="sel1">Product:</label>
                    <div class="col-md-8">
                        <select name="prod" class="form-control" ngModel>
                            <option value="" disabled selected>Select Product</option>
                            <option *ngFor="let prod of products" [ngValue]="prod.id">{{prod.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4" for="cartons">No of Cartons:</label>
                    <div class="col-md-4">
                        <input name="cartons" class="form-control" type="number" placeholder="0" ngModel/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4" for="unit">No of Units:</label>
                    <div class="col-md-4">
                        <input name="unit" class="form-control" type="number"  placeholder="0" ngModel/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button class="btn btn-success btn-lg btn-block" type="submit">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>